<div id="issue_top">
    {% if issue.hero_image_url %}
      <div class="olh-banner">
        <img class="olh-banner-image"
             src="{{ issue.hero_image_url }}"
             alt="{{ issue.best_large_image_alt_text }}"
        >
        <figcaption class="olh-banner-heading">
          {% if level == "deep" %}
            <h2 class="text-with-shadow" aria-label='{{ issue.display_title_a11y }}'>{{ issue.display_title }}</h2>
          {% else %}
            <h1 class="text-with-shadow" aria-label='{{ issue.display_title_a11y }}'>{{ issue.display_title }}</h1>
          {% endif %}
        </figcaption>
        {% if issue.pk == 1 %}
        <a href="https://unsplash.com/photos/a-large-white-structure-sitting-in-the-middle-of-a-body-of-water-Lk6k4nDCOD8" target="_blank" rel="noopener noreferrer" class="cover-credit-link" aria-label="Image source on Unsplash">
            <span class="material-symbols-outlined">info</span>
        </a>
        {% elif issue.pk == 2 %}
        <a href="link" target="_blank" rel="noopener noreferrer" class="cover-credit-link" aria-label="Image source on Unsplash">
            <span class="material-symbols-outlined">info</span>
        </a>
        {% elif issue.pk == 4 %}
        <a href="link" target="_blank" rel="noopener noreferrer" class="cover-credit-link" aria-label="Image source on Unsplash">
            <span class="material-symbols-outlined">info</span>
        </a>
        {% endif %}
      </div>
        {% if issue.issue_description %}<p>{{ issue.issue_description|safe }}</p>{% endif %}
    {% else %}
        {% if level == "deep" %}
            <h2 class="em" aria-label='{{ issue.display_title_a11y }}'>{{ issue.display_title }}</h2>
        {% else %}
            <h1 class="em" aria-label='{{ issue.display_title_a11y }}'>{{ issue.display_title }}</h1>
        {% endif %}
        {% if issue.issue_description %}<p>{{ issue.issue_description|safe }}</p>{% endif %}
    {% endif %}

    {% if issue.journal.display_issue_doi and issue.doi_url %}
        <p>{% include "elements/doi_display.html" with doi=issue.doi_url title=issue.display_title %}</p>
    {% endif %}

    {% include "common/elements/guest_editors.html" %}
</div>
